{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
    {% endif %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1>Welcome {{ user.firstname }} {{ user.lastname }} !</h1>
        {% else %}
            <h1>Welcome {{ user.firstname }} {{ user.lastname }} !</h1>
        {% endif %}

        <a href="/showEditors">show Editors</a>
        <ul>
            {% for item in videogames %}
                <li>{{ item.id }} - {{ item.title }} - {{ item.os }} - {{ item.releaseDate|date("Y/m/d") }}</li>
                <p>{{ item.description }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="/edit/video/{{ item.id }}">Modify</a>
                    <a href="/delete/video/{{ item.id }}">Delete</a>
                {% endif %}
                <a href="/showVideo/{{ item.id }}">Show</a>
            {% endfor %}
        </ul>
    </div>
    </body>
    </html>
{% endblock %}