{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register a game</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.title) }}
        {{ form_row(registrationForm.os) }}
        {{ form_row(registrationForm.description) }}
        {{ form_row(registrationForm.release_date) }}

        <button class="btn">Register this game</button>
    {{ form_end(registrationForm) }}
{% endblock %}
